@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --yellow: #ffcd38ff;
  --charcoal: #435058ff;
  --blue:  #5b9bd5ff;
  --red:  #FF0000ff;
  --green: #70AD47ff;
  --white: #FFFFFF;
  --footerHeight: 200px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

/* navBar */

.logo {
  width: 300px;
  padding-left: 6rem;
  padding-top: 5px;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.buttonsContainer {
  display: flex;
  align-items: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2px;
}

/* Footer */
html, body {
  min-height: 100vh;
  position: relative;
}

.pageBody {
  padding-bottom: var(--footerHeight);
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--blue);
  color: white;
  text-align: center;
  height: var(--footerHeight);
}

.footer-text {
  padding: 90px 0;
  text-align: center;
} 

/* Article */

.mainArticle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.articleText {
  font-size: 26px;
  padding: 2rem 0 2rem 0;
}

.articleImage {
  flex: 0 2 auto;
  padding: 1rem 5rem 1rem 2rem;
  height: 500px;
}

.articleBody {
  padding: 1rem 2rem 1rem 5rem;
  max-width: 500px;
}

h1 {
  font-size: 60px;
}

/* Getting Started List */

.GSL-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 350px;
  margin: 4rem;
}

.GSL-Item {
  padding: 40px 10px;
  align-items: center;
  max-width: 300px;
  /* color: #435058ff; */
}
.GSL-Item-Image {
  height: auto;
  width: 100px;
  margin: auto;
  display: block;
 }

.GSL-Heading {
  padding-top:20px;
  padding-bottom:20px;
  margin: auto;
  text-align: center;
}
.GSL-Text {
  width: 50%;
  text-align: center;
  margin: auto;
}

/* Launch */

.launchContainer {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  padding: 50px 100px;
  padding-bottom: 150px;
  padding-left: 24%;
}

.child {
  margin: 20px;
  padding-right: 100px;
}

.launchLogo {
  width: 300px;
  margin-bottom: -40px;
  padding-top: 20px;
}

.launchHeading {
  font-size: 45px;
  padding-bottom: 20px;
}

.launchParagraph {
  padding-bottom: 40px;
  width: 60%;
  text-align: left;
}

.placeholder {
  width: 400px;
}

.textContainer {
  overflow: auto;
  float: right;
  margin: 40px;
  padding: 20px;
}

/* Example cards */

.example-section {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 100px;
}

.exampleCard {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 150px;
}

.questionHalf {
  background-color: var(--yellow);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
}


.questionHalf > p {
  text-align: center;
  align-items: center;
  color: black;
  padding: 2%;
  
}

.answerHalf {
  background-color: var(--blue);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  height: 50%;
}

.answerHalf > p {
  color: white;
  text-align: center;
}

.example-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 2%;
}

.example-section > h2 {
  font-size: 45px;
}