@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: 300px;
  padding-left: 24px;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  display: inline-block;
  color: #435058ff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
} 

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5b9bd5ff;
  color: white;
  text-align: center;
  height: 150px;
}

.footer-text {
  padding: 60px 0;
  text-align: center;
  font-weight: bold;
  
}
