:root {
    --yellow: #ffcd38ff;
    --charcoal: #435058ff;
    --blue:  #5b9bd5ff;
    --red:  #FF0000ff;
    --green: #70AD47ff;
    --white: #FFFFFF;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer; 
    transition: transform 0.2s ease;
    padding: 4px;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px #435058ff;
}

.btn--blue {
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
}

.btn-blue:hover {
    background-color: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
}

.btn--white {
    background-color: var(--white);
    color: var(--charcoal);
    border: none;
    outline: none;
}

.btn--white:hover {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    outline: none;
}


.btn--charcoal {
    background-color: var(--charcoal);
    color: var(--white);
    border: 2px solid var(--charcoal);
    outline: none;
}

.btn--charcoal:hover {
    background-color: var(--white);
    color: var(--charcoal);
    border: 2px solid var(--charcoal);
}

.btn--medium {
    padding: 10px 20px;
    font-size: 18px;
}

.btn--small {
    padding: 15px 20px;
    font-size: 18px;
}